@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="jumbotron">
  <h3>New Stylist</h3>
</div>

@using (Html.BeginForm())
{
  <div class="row align-items-center">
    <div class="col-md-12 mb-3">
      @Html.TextBoxFor(model => Model.Name, new {@class = "form-control", @placeholder = "Name"})
    </div>
    <div class="col-md-12 mb-3">
      @Html.TextBoxFor(model => Model.Specialty, new {@class = "form-control", @placeholder = "Specialty"})
    </div>
  </div>

  <input type="submit" value="Add Stylist" class="btn-dark"/>
}

<p>@Html.ActionLink("Stylist list", "Index")<br>
@Html.ActionLink("Home", "Index", "Home")</p>