@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="jumbotron">
  <h3>Deleting @Model.Name</h3>
</div>

<p>Are you sure you want to delete this stylist?</p>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}

<p>@Html.ActionLink("Back to Stylist", "Details", new { id = Model.StylistId })<br>
@Html.ActionLink("Stylist list", "Index")<br>
@Html.ActionLink("Home", "Index", "Home")</p>