@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Eau Clair's Hair Salon Administration</h1>
</div>

<p>@Html.ActionLink("See Stylist", "Index", "Stylists")<br>
@Html.ActionLink("See Clients", "Index", "Clients")</p>