@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<div class="jumbotron">
  <h3>Clients</h3>
</div>

@if (Model.Count == 0)
{
  <p>No clients added yet.</p> 
}

<ul>
  @foreach (Client client in Model)
  {
    <li>@Html.ActionLink($"{client.Name}", "Details", new {id = client.ClientId})</li>
  }
</ul>

<p>@Html.ActionLink("Add Client", "Create")<br>
@Html.ActionLink("Stylist List", "Index", "Stylists")<br>
@Html.ActionLink("Home", "Index", "Home")</p>